* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'HeliosCondRegular';
}
html,
body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body font,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body b,
body u,
body i,
body center,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
body button:focus {
  outline: none;
}
ol,
ul,
nav {
  list-style: none;
  cursor: default,
}
P,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}
a{
  text-decoration: none; 
}
blockquote,
q {
  quotes: none;
}

.wrapper input {
  -webkit-appearance: none;
  cursor: pointer;
}

textarea:focus, select:focus, input:focus {
  outline: none;
  outline-offset: 0px;
  border-color: transparent;
}
p{
  margin: 0;
  padding: 0;
}



button:focus {
  outline: none;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

li{
  list-style-type: none;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height:80px;
	background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;

}
.container{
    width: calc(100% - 64px);
    max-width: 1187px;
    margin: 0 auto;
    // padding: 32px;
    position: relative;
    z-index: 0;
}



