* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html,
body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body font,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body b,
body u,
body i,
body center,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
body button:focus {
  outline: none;
}
ol,
ul,
nav {
  list-style: none;
  cursor: default,
}
P,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}
a{
  text-decoration: none; 
}
blockquote,
q {
  quotes: none;
}

.wrapper input {
  -webkit-appearance: none;
  cursor: pointer;
}

textarea:focus, select:focus, input:focus {
  outline: none;
  outline-offset: 0px;
  border-color: transparent;
}
p{
  margin: 0;
  padding: 0;
  font-size: 12px;
}
h3{
  font-family: 'Neusa Next Pro';
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  line-height: 52px;
  font-size: 36px;
}




button:focus {
  outline: none;
}
button{
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

li{
  list-style-type: none;
}

h2{
  font-family: 'Neusa Next Pro';
  font-size: 48px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  line-height: 52px;
}
.header {
	// position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height:118px;
	background: #fff;
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  border-bottom: 1px solid #000;
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -120px;
  .log-b{
    display: none;
  }

}
section{
  overflow-x: hidden;
}
.container{
    width: calc(100% - 64px);
    max-width: 1235px;
    margin: 0 auto;
    padding: 32px;
    position: relative;
}

// бургер 
.header__nav {
    // position: absolute;
    right: 36px;
    display: block;
}
.header__menu {
    display: flex;
	position: relative;
	z-index: 2;
}
.header__menu li {
	list-style: none;
  margin-right: 24px;
	color: #000;
	font-size: 16px;
	// text-transform: uppercase;
	text-decoration: none;
  &:nth-last-child(1){
    margin-right: 0;
  }
}
body{
  overflow-x: hidden;
}
@media(max-width: 1024px){
    .header__nav {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        width: calc(100vw + 0px);
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left: calc(-100% - 200px);
        height: 100vh;
    }
    .header__menu {
        display: block;
    }
    .header__nav.open-menu{
      left: calc(0% - 32px);
      z-index: 10;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
        }
    .menu-burger__header {
        position: relative;
        width: 32px;
        height: 32px;
        display: block;
        margin-left: 10px;
        background: #0047FF;
    }
    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before{
        height: 2px;
        width: 16px;
        position: absolute;
        background: #fff;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, 
    .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 8px;
    }
    .menu-burger__header:before{
        top: 10px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg) ;
        top: 14px;
        transition: 0.4s;
        left: 28%;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg) ;
        bottom: 16px;
        transition: 0.4s;
        left: 29%;
    }

    header {
        height: 60px;
    }
    .fixed-pade {
        overflow: hidden;
    }
}
@media(max-width: 650px){
    .container{
      width: calc(100% + 32px);
      padding: 16px;
      max-width: 100%;
    }
    .header__nav.open-menu{
      left: calc(0% - 0px);
    }
    .header__nav {
      top: 8vh;
    }
    .index-box-one__box-img {
      height: 345px;
  }
  .header__nav {
    top: 7vh;
}
  
}
// бургер 
