* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "HeliosCondRegular";
}

html,
body,
body div,
body span,
body applet,
body object,
body iframe,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body blockquote,
body pre,
body a,
body abbr,
body acronym,
body address,
body big,
body cite,
body code,
body del,
body dfn,
body em,
body font,
body img,
body ins,
body kbd,
body q,
body s,
body samp,
body small,
body strike,
body strong,
body sub,
body sup,
body tt,
body var,
body b,
body u,
body i,
body center,
body dl,
body dt,
body dd,
body ol,
body ul,
body li,
body fieldset,
body form,
body label,
body legend,
body table,
body caption,
body tbody,
body tfoot,
body thead,
body tr,
body th,
body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body button:focus {
  outline: none;
}

ol,
ul,
nav {
  list-style: none;
  cursor: default;
}

P,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

.wrapper input {
  -webkit-appearance: none;
  cursor: pointer;
}

textarea:focus, select:focus, input:focus {
  outline: none;
  outline-offset: 0px;
  border-color: transparent;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

li {
  list-style-type: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: calc(100% - 64px);
  max-width: 1187px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

@font-face {
  font-family: "HeliosCondRegular";
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot");
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"), url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "HeliosCondRegular";
  src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
  src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../fontsHeliosCondBold/HeliosCondBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  color: #FFFFFF;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #333333;
}

.bmk-video {
  min-width: 100%;
  max-height: 800px;
  height: 100%;
  width: auto;
}

.our-history__numbers {
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 130%;
  color: #213C7B;
}

.bmk-heder__container {
  position: absolute;
  top: 0;
  left: -50%;
  right: -50%;
  padding-top: 64px;
}
.bmk-heder__log {
  margin-bottom: 230px;
}

.bmk__our-history {
  background: #26448C;
  padding-bottom: 120px;
  margin-bottom: 112px;
}
.bmk__awards h2 {
  margin-bottom: 64px;
}

.bmk-page {
  padding-top: 75px;
  overflow-x: hidden;
  padding-bottom: 112px;
}

.o-company__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}
.o-company__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin-right: 120px;
  padding-top: 32px;
}
.o-company__memo {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  background: #EE741D;
  border-radius: 16px;
  position: relative;
  z-index: 0;
  padding: 32px;
  -webkit-box-shadow: 0px 17px 31px 4px rgba(238, 116, 29, 0.2);
  box-shadow: 0px 17px 31px 4px rgba(238, 116, 29, 0.2);
}
.o-company__memo::after {
  content: "";
  background: url(../img/yu.svg) center no-repeat;
  display: block;
  position: absolute;
  width: 42px;
  height: 34px;
  top: -17px;
}
.o-company__box-info {
  background: url(../img/box1.png) center no-repeat;
  border-radius: 16px;
  height: calc(600px - 16px);
  background-size: cover;
  padding: 80px;
  position: relative;
  z-index: -1;
}
.o-company__box-info--shadow {
  -webkit-box-shadow: 0px 77px 30px 26px rgba(38, 68, 140, 0.2);
  box-shadow: 0px 77px 30px 26px rgba(38, 68, 140, 0.2);
}
.o-company__box-work {
  width: 998px;
  left: 461px;
  top: 1849px;
  background: #F5F5F5;
  border-radius: 16px;
  padding: 80px;
  margin: 0 auto;
  margin-top: -93px;
  z-index: 1;
  margin-bottom: 112px;
}
.o-company__about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.box-info__text {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
  width: 751px;
  padding-top: 150px;
}

.box-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 32px;
}

.box-work__li {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 40px;
  margin-bottom: 32px;
}
.box-work__li::before {
  content: "";
  width: 32px;
  height: 1px;
  background: #26448C;
  position: absolute;
  top: 12px;
  left: 0;
}
.box-work__li:nth-last-child(1) {
  margin-bottom: 0;
}

.about-me__box {
  width: 32%;
}
.about-me__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
}

.about-me-img {
  margin-bottom: 35px;
}

.box-info--bott {
  background: url(../img/box2.png) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 0;
}
.box-info--bott::before {
  content: "";
  background: #26448C;
  width: 100vw;
  height: 60%;
  position: absolute;
  left: 50%;
  bottom: -64px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: -1;
}

.color--w {
  color: #fff;
  margin-top: 64px;
}

.our-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-history__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 64px;
}
.our-history__conteiner:nth-child(10), .our-history__conteiner:nth-child(11) {
  margin-bottom: 0;
}
.our-history__box {
  position: relative;
}
.our-history__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
}

.awards__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.awards__img {
  position: relative;
  width: 460px;
  z-index: 1;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.05));
  border-radius: 16px;
}
.awards__img:nth-child(2) {
  width: 418px;
  z-index: -1;
}
.awards__img:nth-child(2) img {
  position: absolute;
  top: 0;
  left: -117px;
}
.awards__img:nth-child(3) {
  width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.awards__img:nth-child(3) img {
  width: 68px;
  height: 68px;
  -o-object-fit: contain;
     object-fit: contain;
}
.awards__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.awards__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  width: 70%;
  margin-bottom: 24px;
}
.awards__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  width: 100%;
}

footer {
  padding-top: 112px;
  padding-bottom: 78px;
  background: #F5F5F5;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 31px;
}
.footer-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #C4C4C4;
}
.footer-wrap:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  padding-top: 31px;
}
.footer-wrap:nth-child(2)::before {
  height: 0px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 62%;
}

.bmk-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333333;
}

.bmk-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #333333;
  margin-right: 35px;
}

.bmk-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #2F54AD;
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #333333;
  width: 50%;
}

.footer-log img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.link-soc__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-soc__copi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.vk:hover {
  -webkit-box-shadow: 0px 5px 23px 27px rgba(0, 119, 255, 0.2);
  box-shadow: 0px 5px 23px 27px rgba(0, 119, 255, 0.2);
}

.od:hover {
  -webkit-box-shadow: 0px 5px 23px 27px rgba(247, 154, 56, 0.2);
  box-shadow: 0px 5px 23px 27px rgba(247, 154, 56, 0.2);
}

.vb:hover {
  -webkit-box-shadow: 0px 5px 23px 27px rgba(124, 80, 154, 0.2);
  box-shadow: 0px 5px 23px 27px rgba(124, 80, 154, 0.2);
}

.tg:hover {
  -webkit-box-shadow: 0px 5px 23px 27px rgba(39, 166, 229, 0.2);
  box-shadow: 0px 5px 23px 27px rgba(39, 166, 229, 0.2);
}

@media (max-width: 1187px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .bmk-video {
    max-height: 620px;
    width: -webkit-fill-available;
  }

  .bmk-heder__log {
    text-align: center;
  }

  .o-company__box-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .o-company__text {
    margin-bottom: 32px;
  }

  .bmk-page {
    padding-top: 30px;
    padding-bottom: 64px;
  }

  .o-company__box-top {
    margin-bottom: 64px;
  }

  .o-company__box-work {
    margin-top: 0px;
  }

  .o-company__box-info {
    background-size: cover;
    margin-bottom: 32px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .o-company__box-work {
    max-width: 998px;
    width: 100%;
    padding: 30px;
    margin-bottom: 32px;
  }

  .o-company__memo,
.o-company__text {
    font-size: 16px;
    margin-right: 0;
  }

  .box-info__text {
    font-size: 32px;
  }

  .about-me__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }

  .about-me-img {
    margin-bottom: 0px;
    margin-right: 16px;
    width: 62px;
    height: 62px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .o-company__about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 64px;
  }

  .box-info--bott::before {
    display: none;
  }

  .bmk__our-history {
    display: none;
  }

  .awards__img {
    width: 45%;
  }
  .awards__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .awards__img:nth-child(2) {
    width: 45%;
    position: relative;
    top: 0;
  }
  .awards__img:nth-child(2) img {
    left: 0;
  }
  .awards__img:nth-child(3) {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awards__img:nth-child(3) img {
    margin-right: 25px;
  }

  .awards__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .awards__title {
    font-size: 16px;
  }

  .awards__text {
    font-size: 14px;
    position: absolute;
    top: 38px;
    left: 92px;
  }

  footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #F5F5F5;
  }

  .bmk-text {
    font-size: 14px;
  }

  .about-me__text {
    font-size: 14px;
  }

  .box-work__li {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .bmk-video {
    height: 618px;
    width: auto;
  }

  .bmk-tel {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .bmk-mail {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .footer-wrap:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fotter-q {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .footer-info {
    width: 100%;
  }

  .bmk-text {
    margin-bottom: 32px;
  }

  .footer-text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .bmk-mail {
    font-size: 24px;
  }

  .fotter-q img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}